/* corinthia-regular - latin */
@font-face {
  font-family: 'Corinthia';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/corinthia-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/corinthia-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/corinthia-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/corinthia-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/corinthia-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/corinthia-v7-latin-regular.svg#Corinthia') format('svg'); /* Legacy iOS */
}

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cormorant-garamond-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cormorant-garamond-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cormorant-garamond-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cormorant-garamond-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cormorant-garamond-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cormorant-garamond-v10-latin-regular.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('cafe-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
}

h3 {
  font-size: 26px;
}

.header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 26px;
}

.logo {
  font-family: 'Corinthia', cursive;
  font-size: 50px;
  font-weight: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}